@import url(https://fonts.googleapis.com/css2?family=Spartan:wght@100..900&family=Julius+Sans+One);

/* General */

html {
    font-size: 62.5%;
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 1.6rem;
    line-height: 3rem;
    color: #ffffff;
}

h2,
h3,
h4,
h5,
h6 {
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-family: "Julius Sans One", sans-serif;
}

section {
    background: url(../images/bg-pic.jpeg) fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    padding-top: 2rem;
}

i {
    font-size: 3rem;
    margin: 1rem 0;
}

a {
    color: #00b2ff;
    text-decoration: none;
}

a:hover {
    color: #00b2ff;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

p,
body ul {
    padding-top: 1.5rem;
}

ul {
    text-align: start;
}

header {
    position: sticky;
    font-family: "Julius Sans One", sans-serif;
    line-height: normal;
}

form {
    margin-top: 5rem;
}

.line-through {
    text-decoration: line-through #ffffff;
}



/* Navbar */

.navbar {
    text-align: left;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 999999;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

.navbar-collapse {
    flex-grow: 0;
    align-items: center;
}

.bg-dark {
    background-color: #1e0a31 !important;
}

#main-heading h1 {
    font-size: clamp(100%, 1rem + 1.15vw, 2rem);
}

/* Section */

.section-content {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

#yinyang {
    border-radius: 50%;
    width: 70%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prevention-ideas {
    font-family: "Julius Sans One", sans-serif;
}

.prevention-ideas i {
    font-size: 5rem;
    margin: 5rem 0;
}

.form-control {
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
}

.btn {
    margin: 2rem 0;
}

.form-control:focus {
    border: 2px solid #00b2ff;
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
}

/* Footer */

footer {
    background-color: #01273e;
}

footer span,
footer a {
    font-family: "Julius Sans One", sans-serif;
    float: right;
    margin-left: 1rem;
    color: #ffffff;
}

footer a:hover {
    color: #ffffff;
}