/*---------------------------------- Special padding/margins/text */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Julius Sans One", sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

/*---------------------------------- Heading */

.container-heading {
    font-family: "Julius Sans One", sans-serif;
}

.line-through {
    text-decoration: 2.5px solid line-through;
}

.heading {
    margin-left: 10px;
}


/*---------------------------------- Menu */

#nav {
    margin: 0;
}

#nav li {
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu-list {
    font-size: 0;
}

.menu-list li a {
    text-align: center;
    color: #ffffff;

}

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

/*---------------------------------- Section */

.section-content {
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    font-family: "Spartan", sans-serif;
    color: #ffffff;
}

.section-content p,
.section-content h4 {
    padding-top: 15px;
}

#content {
    background: radial-gradient(circle, #000000, #1a1619, #29252e, #323745, #354b5c, #385b6e, #386c80, #387e90, #398fa7, #3b9fbf, #3fb0d8, #44c1f2) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*---------------------------------- Footer */

#footer {
    background-color: rgba(54, 104, 115, 0.8);
}

.footer-links span,
.footer-links a {
    font-family: "Julius Sans One", sans-serif;
    float: right;
    color: #ffffff;
    margin-left: 10px;
}